<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--https://docs.spring.io/spring-boot/docs/2.1.5.RELEASE/reference/htmlsingle/#boot-features-logging-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--    定义属性-->
    <springProperty scope="context" name="app.name" source="spring.application.name"/>
    <springProperty scope="context" name="active.profile" source="spring.profiles.active"/>
    <springProfile name="local">
        <property name="LOG_HOME" value="./${app.name}-${active.profile}"/>
    </springProfile>

    <springProfile name="dev | pre | prd | test">
        <property name="LOG_HOME" value="./${app.name}"/>
    </springProfile>

    <appender name="ROOT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/spring.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd
                HH:mm:ss.SSS}][%level][${app.name},%X{X-B3-TraceId:--},%X{X-B3-SpanId:--}][%logger{50}][%X{X-URL:--}]
                %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/spring.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="controllerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/controller.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%msg%n</Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/controller.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROOT_FILE"/>
    </root>

    <logger name="com.xxd.learn.oauth2.controller" level="info">
        <appender-ref ref="controllerLog"/>
    </logger>


</configuration>